.sisalto {
    display: flex;
    min-width: 0;
}

.formi {
    width: 20%;
    border-radius: 12px;
    border: 2px solid black;
    padding: 6px;
    height: auto;
}

.taulu {
    width: 80%;
}

summary {
    padding: 10px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    list-style: none;
    /* Removes the default arrow in some browsers */
    border: 2px solid black;
}

summary:hover {
    background-color: #0056b3;
}

.content {
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 5px;
}